signin.css
:root {
  --color1: #388087;
  --color2: #BADFE7;
  --color3: #F6F6F2;
  --color4: #6FB3B8;

  --filter-to-color1: invert(41%) sepia(48%) saturate(430%) hue-rotate(137deg) brightness(97%) contrast(94%);
}
.auth-row {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;



}

.auth-col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.auth-col-md-4:nth-child(odd) {
  margin-right: 20px;
}

.auth-row h1 {
  font-size: 3.5rem !important;
  margin-bottom: 20px;
  color: #388087;

}

.auth-p-3 {
  
  font-size: 1rem !important;

}

.signin-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.signin-input {
  background-color:#F6F6F2;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  margin-bottom: 15px;
}

.auth-signin-btn {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #388087;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-signin-btn:hover {
  background-color: #6FB3B8;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .auth-row {
    flex-direction: column;
    margin: 20px;
  }

  .auth-col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }
}
