.about-us-page {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 20px;
}

.about-us-page h2 {
  color: #388087;
  margin-top: 20px;
  margin-bottom: 30px;

}

.about-us-page p {
  margin-bottom: 20px;

}

.about-us-page .faq ul {
  list-style-type: none;
  padding-left: 0;
  
}

.faq li p {
  margin-bottom: 30px;
  margin-top: 20px;

}

/* Styling for sections */
.about-us,
.faq,
.privacy-policy,
.revenue,
.contribution {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

/* Additional styles specific to sections can be added here */
