.search-bar-container{
  background-image: url('../../../public/img.png');
  background-size: cover;
}

.search-bar {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.input-wrapper {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}

nav a.navbar-brand, .navbar-nav a.nav-link, .navbar-nav a.nav-link.active {
  color: #fff;
}

.home-form {
  position: relative;
}

.home-search input{
  width: 100%;
  padding: 1em;
  border-radius: 30px;
  background-color: var(--color2);
  margin-top: 30vh;
  border: none;
}

.home-search button{
  position: absolute;
  bottom: 8px;
  right: 3%;
  color: var(--color2);
  background-color: var(--color1);
  border-radius: 30px;
  border: none;
  font-size: 20px;
  padding: .1em .3em;
}